* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
	background-color: rgb(22, 22, 22);
	color: white;
}


.main-header {
	font-family: sans-serif;
	border-bottom: 10px;
	background-color: #b4b3b3;
	.main-title {
		margin-bottom: 10px;
		font-size: 50px;
		padding: 1.27%;
		background-color: #b4b3b3;
		background-image: url("imagens/Fromsoftware_logo.png");
		background-repeat: no-repeat;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	.main-description{
		color: #000000;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 25px;
		background-color: #b4b3b3;
	}
}

.DS1 {
	padding: 10px;
	margin: 10px;
	.ds1-title {
		margin: 10px;
		font-size: 25px;
		color: #a9a9a9;
	}
	.link-ds1{
		color: #a9a9a9;
	}

}

.ER {
	padding: 10px;
	margin: 10px;
	.er-title{
		margin: 10px;
		font-size: 25px;
		color: #a9a9a9;
	}
	.link-er{
		color: #a9a9a9;
	}

}
.Sekiro{
	padding: 10px;
	margin: 10px;
	.sekiro-title{
		margin: 10px;
		font-size: 25px;
		color: #a9a9a9;
	}
	.link-sekiro{
		color: #a9a9a9;
	}
	

}

.main-footer{
	display: flex;
	padding: 20px;
}